.videoInfo {
  display: flex;
  padding: 1rem 0;
  position: relative;
  border-bottom: 1px solid rgba(90, 90, 90, 0.55);
}

.infoTxts {
  padding-bottom: 0.5rem;
}

.infoTxts .tags {
  display: flex;
  padding-top: 0.5rem;
}
.infoTxts .tags li {
  color: #09f;
  font-size: 90%;
  margin-right: 0.5rem;
}
.infoTxts .title {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.infoTxts .etc {
  padding: 0.5rem 0;
  color: #aaa;
}

.infoBtns {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
}
.infoBtns button {
  color: inherit;
  padding: 1.2rem;
  font-size: 105%;
  cursor: pointer;
}
.infoBtns button svg {
  vertical-align: middle;
}
.infoBtns button span {
  margin-left: 0.5rem;
  font-weight: bold;
}
