
#root{
  overflow:hidden;
}
.contents {
  width:100%;
  padding-right:80px;
}
a {
  color:#f1f1f1;
}

.search-container {
  margin:56px 0 0 80px;
  padding:16px 24px;
  width:100%;

  .search-wrap {
    max-width:1100px;
    margin:auto;
  }

  .search-video-list{
    display:flex;
    margin-top:16px;

    .search-thumbnails {
      width:360px;
      margin-right:20px;
      position:relative;
      flex-shrink : 0;

      img {
        width:100%;
        aspect-ratio: 180 / 101;
        object-fit:cover;
        border-radius:5%;
      }

      p {
        position:absolute;
        top:1px;
        left:1px;
      }
    }

    .search-video-info {
      width:100%;
      min-width:200px;
      max-width:720px;

      .search-video-title {
        font-size:1.1rem;
        line-height:1.5;
        word-break:keep-all;
        text-overflow: ellipsis;
        overflow: hidden;
        width:80%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        padding:2px 0;
      }

      .search-channel-title {
        display:flex;
        align-items:center;
        gap:10px;
        padding:12px 0;

        span:nth-child(1) {
          display:block;
          width:24px;

          img {
            width:100%;
            border-radius:50%;
          }
        }

        span:nth-child(2) {
          font-size:0.75rem;
          color:#aaa;
          transition:all 0.15s;

          &:hover {
            color:#fff;
          }
        }
      }

      .search-video-description {
        line-height:1.5;
        font-size:0.7rem;
        color:#aaa;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      
      .search-video-view {
        color:#aaa;
        font-size:0.75rem;
        margin-top:3px;
      }
    }
  }
}

.search-container[nav-check = "show"] {
  margin-left:240px;
}

@media (max-width:1300px) {
  .search-container[nav-check = "show"] {
    margin-left:80px;
  }

  .search-video-description {
    white-space:normal !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

@media (max-width:768px) {
  .contents {
    padding-right:0;
  }
  .search-thumbnails{
    width:60% !important;
    max-width:360px;
    min-width:240px;
  }
  .search-container,
  .search-container[nav-check = "show"] {
    margin-left:0;
  }
}