* {
  text-decoration: none;
}
.GalleryContainer {
  width: 100%;
  padding: 16px 24px;
  // margin: 56px 0 0 80px;
}

.mainGallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 56px 0 0 70px;
  gap: 10px;
  box-sizing: border-box;
}

.mainGallery[nav-check='show'] {
  // padding: 0 20px;
  width: calc(100vw - 240px);
  margin: 56px 0 0 240px;
}
