@import '../../index.scss';

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}
* {
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: $background-color;

  .header__start {
    display: flex;
    justify-content: center;
    align-items: center;

    .header__gnb-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      text-indent: -9999px;
      width: 50px;
      height: 40px;
      width: 40px;
      padding: 8px;
      border-radius: 50%;
      color: $main-text-color;

      &:hover {
        background: #333;
      }

      svg {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }

    .header__home-logo {
      text-indent: -9999px;
      height: 100%;
      width: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 18px 14px 18px 16px;
      position: relative;

      img {
        width: 97px;
      }
    }
  }

  .search_form {
    width: 100%;
    max-width: 640px;
    margin-left: 70px;
    align-items: center;

    .input-close-btn {
      display: none;
    }

    form {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 100%;

      .search-input-wrap {
        width: calc(100% - 144px);
        display: flex;
        align-items: center;
        height: 40px;
        border: 1px solid #333;
        border-right: none;
        border-radius: 18px 0 0 18px;
        padding: 8px 8px 8px 15px;

        input {
          background-color: transparent;
          border: none;
          outline: none;
          color: #fff;
          font-size: 1rem;
          width: 100%;
        }

        .val-del-btn {
          display: flex;
          justify-items: center;
          align-items: center;
          text-indent: -9999px;
          width: 40px;
          height: 40px;
          position: relative;
          border-radius: 50%;

          svg {
            width: 24px;
          }
        }

        .val-del-btn:hover {
          background: #333;
        }
      }

      .search-btn {
        text-indent: -9999px;
        width: 60px;
        height: 100%;
        padding: 0 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(36, 36, 36);
        border-radius: 0 18px 18px 0;

        svg {
          position: relative;
          width: 24px;
          height: 24px;
        }
      }

      .voice-btn {
        text-indent: -9999px;
        width: 40px;
        height: 40px;
        position: relative;
        margin-left: 10px;
        border-radius: 50%;
        background-color: rgb(30, 30, 30);

        &:hover {
          background: #333;
        }

        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 25px;
          height: 25px;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .header__top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 65px;

    button {
      text-indent: -9999px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      padding: 0;
      border-radius: 50%;
    }

    .show-search-btn {
      display: none;
    }

    .show-search-btn:hover,
    .create:hover,
    .alarm:hover {
      background: #333;
    }

    .show-search-btn svg,
    .create svg,
    .alarm svg {
      width: 24px;
    }

    .profile {
      width: 60px;

      img {
        border-radius: 50%;
      }
    }

    .login,
    .logout {
      color: $main-text-color;
      text-indent: 0;
      width: auto;
    }

    .logout {
      color: $secondary-text-color;
    }

    .login {
      font-size: 1rem;
      color: #3ea6ff;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 50px;
      padding: 0 15px 0 10px;
      &:hover {
        background-color: rgba(62, 166, 255, 0.2);
        border-color: rgba(255, 255, 255, 0);
      }
    }
  }
}

.bg-pg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: none;
}

@media (max-width: 768px) {
  .header .header__top-menu {
    margin-left: 0;
  }

  .search_form {
    position: absolute;
    left: 0;
    top: 8px;
    margin-left: 0 !important;
    z-index: 9999;
    background: #000;
    display: none;
    padding: 0 8px;
  }

  .show-search-btn {
    display: flex !important;
  }

  .input-close-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block !important;

    &:hover {
      background: #333;
    }

    svg {
      width: 24px;
    }
  }
}

@media (max-width: 1300px) {
  .bg-pg {
    display: block;
  }
}
