.contents__mini-gnb {
  top: 56px;
  left: 0;
  width: 70px;
  background: #0f0f0f;
  padding: 0 3px;
  position: fixed;
  background: #0f0f0f;
  z-index: 9997;
  min-height: 100vh;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: 64px;
    padding: 16px 0 14px;
    font-size: 10px;

    &:hover {
      border-radius: 10px;
      background: rgb(49, 49, 49);
    }

    span {
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
    }

    svg {
      width: 24px;
      margin-bottom: 5px;
    }
  }
}

.contents__gnb {
  width: 240px;
  height: 100vh;
  position: fixed;
  background: #0f0f0f;
  top: 0;
  left: 0;
  z-index: 9999;
  transform:translateX(-100%);

  .contents__gnb-header { 
    display:flex;
    align-items:center;
    height:56px;
    padding-left:16px;
  }
  .header__gnb-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: -9999px;
    width: 50px;
    height: 40px;
    width: 40px;
    padding: 8px;
    border-radius: 50%;

    svg {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .header__home-logo {
    text-indent: -9999px;
    height: 100%;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 14px 18px 16px;
    position: relative;

    svg {
      width: 97px;
      height: 20px;
    }
  }

  &>ul::-webkit-scrollbar {
    width:9px;
  }

  &>ul:hover::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius:10px;
  }

  &>ul {
    padding: 10px 5px 0 0;
    height: calc(100vh - 56px);
    overflow: auto;
    background: #0f0f0f;

    &>li {
      padding-left: 12px;
    }
  }

  li ul:first-child  {
    margin-top:0;
    padding-top:0;
  }

  li ul:nth-child(2) {
    margin-top:0;
  }  

  li ul {
    border-top:1px solid rgb(36, 36, 36);
    margin-top:20px;
    padding:10px 0;

    p {
      padding: 20px 12px 10px;
    }
  }

  li li {
    padding-left: 12px;
    border-radius: 10px;

    &.check {
      background: rgb(49, 49, 49);
    }

    &:hover {
      background: rgb(49, 49, 49);
    }

    a {
      display: flex;
      align-items: center;
      height: 40px;

      svg {
        width: 24px;
        margin-right: 24px;
      }

      span {
        font-size: 14px;
        color: #fff;
      }
    }
  }
}

.footer {
  padding:15px 0;
  border-top:1px solid rgb(36, 36, 36);

  li {
    display:flex;
    flex-wrap:wrap;
    gap:5px;
    margin-top:15px;
    padding:0 12px 0 24px;
    width:100%;

    p {
      font-size:12px;
      color:#555;
      line-height:1.5;

      a {
        color:#3ea6ff
      }
    }
    
    a {
      color:#f1f1f1;
      font-size:13px;
      word-break: keep-all;
    }
  }
}

@media (max-width: 768px) {
  .contents__mini-gnb {
    display:none;
  }
}
@media (max-width: 1300px) {
  .contents__gnb,
  .contents__mini-gnb
  {
  transition : 0.3s all;
  }
}

